<ion-toolbar>
  <ion-buttons slot="secondary" *ngIf="!hideScanner">
    <ion-button start icon-only (click)="scan()">
      <ion-icon name="barcode"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-searchbar
    [value]="searchString"
    (change)="onSearchStringChanged($event)"
    placeholder="Suche"
    (search)="onSearch($event)"></ion-searchbar>

  <ion-buttons slot="primary">
    <ion-button icon-only (click)="onSearchButtonClicked()">
      <ion-icon name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
