<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <ion-list no-lines>
    <ion-item>
      <ion-input
        type="text"
        placeholder="Name"
        spellcheck="false"
        autocapitalize="off"
        formControlName="userName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        type="password"
        placeholder="Passwort"
        spellcheck="false"
        autocapitalize="off"
        formControlName="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button type="submit" [disabled]="!loginForm.valid" expand="block">Login</ion-button>
</form>
