<ion-card *ngIf="book">
  <ion-card-content>
    <div class="row">
      <div class="col">
        <img src="{{book.coverUrl}}"/>
        <h2>{{book.authors?.join(', ')}}</h2>
        <span>{{book.binding}}<span *ngIf="book.pages">&nbsp;{{book.pages}} Seiten</span></span>
      </div>
    </div>

    <p class="ion-text-justify" *ngIf="book.description" [innerHtml]="book.description"></p>

    <ion-button *ngIf="book._links && book._links.addToCollection" (click)="addToCollectionClicked($event)">
      <ion-icon slot="start" name="add"></ion-icon>
      Sammlung hinzufügen
    </ion-button>
  </ion-card-content>
</ion-card>
