<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <ion-list no-lines>
    <ion-item>
      <ion-label position="floating">
        <ion-text color="{{isControlInvalid('userName') ? 'danger' : 'primary'}}">
          <h3>Name *</h3>
        </ion-text>
        <p *ngIf="isControlInvalid('userName')" color="danger">Gib einen Namen an</p>
      </ion-label>
      <ion-input
        type="text"
        spellcheck="false"
        autocapitalize="off"
        formControlName="userName"></ion-input>
    </ion-item>

    <ion-item *ngIf="forgotPasswordCodeSent">
      <ion-label position="floating">
        <ion-text color="{{isControlInvalid('verificationCode') ? 'danger' : 'primary'}}">
          <h3>Code *</h3>
        </ion-text>
        <p *ngIf="isControlInvalid('verificationCode')" color="danger">Gib den Code aus der Email ein</p>
      </ion-label>
      <ion-input
        type="text"
        spellcheck="false"
        autocapitalize="off"
        formControlName="verificationCode"></ion-input>
    </ion-item>
    <ion-item *ngIf="forgotPasswordCodeSent">
      <ion-label position="floating">
        <ion-text color="{{isControlInvalid('password') ? 'danger' : 'primary'}}">
          <h3>Neues Passwort *</h3>
        </ion-text>
        <p *ngIf="isControlInvalid('password')" color="danger">Gib dein neues Passwort ein</p>
      </ion-label>
      <ion-input
        type="text"
        spellcheck="false"
        autocapitalize="off"
        formControlName="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button *ngIf="!forgotPasswordCodeSent" type="submit" expand="block" fill="outline">Code anfordern</ion-button>
  <ion-button *ngIf="forgotPasswordCodeSent" type="submit" expand="block" fill="outline">Neues Passwort vergeben
  </ion-button>
</form>
