<ion-grid *ngIf="borrowing">
  <ion-row *ngIf="borrowing.status == 'OPEN' || borrowing.status == 'ACCEPTED' || borrowing.status == 'RECEIVED'">
    <ion-col size="4" class="ion-text-center">
      <app-avataaars-wrapper [avataaarsConfig]="borrower.avatar"></app-avataaars-wrapper>
      <span>{{borrower.id}}</span>
    </ion-col>
    <ion-col>
      <div>
        Status: <span>{{getStatusText(borrowing.status)}}</span>
      </div>
      <div>
        Erstellt:
        <ion-datetime style="display: inline-flex"
                      readonly
                      displayFormat="DD MMM YYYY"
                      value="{{borrowing.creationDate || '1986-08-04T23:45Z'}}"></ion-datetime>
      </div>
      <div *ngIf="borrowing.updateDate">
        Geändert:
        <ion-datetime style="display: inline-flex"
                      readonly
                      displayFormat="DD MMM YYYY"
                      value="{{borrowing.updateDate || '1986-08-04T23:45Z'}}"></ion-datetime>
      </div>
      <div *ngIf="borrowing._links && Object.keys(borrowing._links || []).length > 0">
        <ion-button *ngFor="let linkKey of Object.keys(borrowing._links || {})"
                    fill="outline"
                    expand="block"
                    size="small"
                    (click)="onUpdateBorrowing(linkKey)">
          <ion-icon *ngFor="let icon of getActionIcon(linkKey)" [name]="icon"></ion-icon>&nbsp;
          {{getActionText(linkKey)}}
        </ion-button>
      </div>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="borrowing.status == 'REJECTED' || borrowing.status == 'COMPLETED'">
    <ion-col>
      <div>
        <span>{{getStatusText(borrowing.status)}}
          ({{borrowing.updateDate || '1986-08-04T23:45Z' | date:'dd MMM yyy'}})</span>
      </div>
    </ion-col>
    <ion-col size="3" class="ion-text-center">
      <app-avataaars-wrapper [clazz]="'size-extra-small'" [avataaarsConfig]="borrower.avatar"></app-avataaars-wrapper>
      <span>{{borrower.id}}</span>
    </ion-col>
  </ion-row>
</ion-grid>
