<ng-container *ngIf="book && exemplar">
  <ion-badge color="secondary"
             *ngIf="countOpenBorrowings()">
    {{countOpenBorrowings()}}
  </ion-badge>
  <img [ngClass]="imgClass"
       [classList]="this.imgClass"
       src="{{book.coverUrl || '../assets/img/no_cover.jpg'}}"
       (load)="onImageLoad($event)"/>
  <ion-skeleton-text style="height: 160px"
                     [ngClass]="skeletonClass" animated></ion-skeleton-text>

  <span *ngIf="!book.coverUrl">{{book.title}}</span>

  <ng-container *ngIf="exemplar.status == 'LENT' && overlayUser">
    <app-avataaars-wrapper class="user-overlay"
                           [avataaarsConfig]="overlayUser.avatar"
                           [circle]="true"
                           [clazz]="'size-small'">
    </app-avataaars-wrapper>
  </ng-container>
</ng-container>
