<ion-card *ngIf="exemplarBorrowings && users">
  <app-collapsible-panel title="Leihübersicht" [expanded]="true" [badge]="countOpenBorrowings()">
    <ion-card-content no-padding>
      <ion-list>
        <ng-container *ngFor="let exemplarBorrowing of exemplarBorrowings">
          <app-exemplar-borrowing-list-item [borrowing]="exemplarBorrowing"
                                            (update)="onExemplarBorrowingUpdate(exemplarBorrowing, $event)"
                                            [borrower]="users[exemplarBorrowing.borrowerId]">

          </app-exemplar-borrowing-list-item>
          <hr/>
        </ng-container>
      </ion-list>
    </ion-card-content>
  </app-collapsible-panel>
</ion-card>
