<ng-container *ngIf="borrowings && borrowings.length > 0 && users">
  <ion-item-divider>
    <ion-label>
      {{title}}&nbsp;
    </ion-label>
  </ion-item-divider>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let borrowing of borrowings" (click)="onBorrowingSelected(borrowing)"
               class="ion-text-center">

        <div class="ribbon ribbon-top-right"><span>{{getStatusText(borrowing.status)}}</span></div>
        <img src="{{borrowing.coverUrl || '../assets/img/no_cover.jpg'}}"/>

        <ng-container *ngIf="users[borrowing.ownerId] as owner">
          <span class="owner">
            <app-avataaars-wrapper [avataaarsConfig]="owner.avatar"
                                   [circle]="true"
                                   [clazz]="'size-small'"></app-avataaars-wrapper>
          </span>
          <span>{{borrowing.ownerId}}</span>
          <span *ngIf="!borrowing.coverUrl">{{borrowing.title}}</span>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-container>
