<app-collapsible-panel title="Mitteilungen"
                       [expanded]="true"
                       [badge]="this.notifications ? this.notifications.length : 0">

  <ion-list *ngIf="this.notifications && !this.loading">
    <ion-item *ngFor="let notification of this.notifications">
      <ion-label>
        <h2>
          {{notification.title}}
          <ion-note slot="end">{{notification.createdAt | date:'dd MMM yyy'}}</ion-note>
        </h2>
        <p text-wrap>
          {{notification.message}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="this.loading">
    <ion-item>
      <ion-label>
        <h2>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          <ion-note slot="end">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </ion-note>
        </h2>
        <p text-wrap>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 75%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          <ion-note slot="end">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </ion-note>
        </h2>
        <p text-wrap>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 75%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          <ion-note slot="end">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </ion-note>
        </h2>
        <p text-wrap>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 75%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          <ion-note slot="end">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </ion-note>
        </h2>
        <p text-wrap>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 75%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</app-collapsible-panel>
